<div class="document">
    <div class="document__icon">
        <rosa-icon-document></rosa-icon-document>
    </div>
    <div class="document__text">
        <span class="document__link">{{document?.title}}</span>
        <div class="document-description">
            <div class="document__info document__padding" *ngIf="document.description">{{document?.description}}</div>
            <div class="document__info" *ngIf="document.size">{{document?.size}}</div>
        </div>
    </div>
</div>