.rosa-datepicker__day {
  padding: 0;
  border: none;
  font-family: inherit;
  color: inherit;
  background-color: #fff;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  user-select: none;
  height: 35px;
  width: 35px;
  font-size: 14px;
  letter-spacing: 0.9px;
  line-height: 1.5;
  font-weight: 400;
  border-radius: 50%;
  color: #c4c4c4;
  border: 1px solid rgba(230, 0, 40, 0);
  transition: all linear 0.15s;
}

.rosa-day_today {
  background-color: #f2f2f2 !important;
}
.rosa-day_selected {
  color: #fff !important;
  background-color: #e60028 !important;
}
.rosa-day_available {
  color: #282423;
}

.rosa-day_available:hover {
  border: 1px solid rgba(230, 0, 40, 1);
}
.rosa-day_weekend {
  color: #e60028;
}
