<div class="rosa-control-container">
  <div class="rosa-radio-wrapper" #themeContainer>
    <ng-content select="[rosaRadio]"></ng-content>
    <ng-content select="label"></ng-content><label *ngIf="!label"></label>
  </div>
  <div class="rosa-radio__description">
    <ng-content select="span"></ng-content>
  </div>
  <div class="rosa-radio-error">
    <ng-content select="rosa-control-helper" *ngIf="valid"></ng-content>
    <ng-content select="rosa-control-error" *ngIf="!valid"></ng-content>
  </div>
</div>
