.rosa-form-control {
  background: #fff;
}

:host {
  position: relative;
  box-sizing: border-box;
  display: block;
}

label {
  color: #282423;
  font-size: 9px;
  line-height: 16px;
  letter-spacing: 0.1em;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
}

.radio-wrapper {
  margin-bottom: 32px;
}

[type='radio']:checked,
[type='radio']:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type='radio']:disabled + label {
  color: var(--color-steel) !important;
  cursor: not-allowed !important;
}
[type='radio']:checked + label,
[type='radio']:not(:checked) + label {
  position: relative;
  padding-left: 39px;
  cursor: pointer;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.02em;
  display: inline-block;
  color: var(--color-night);
  text-transform: none;
}
.rosa-radio__description {
  padding-left: 39px;
}

.theme_dark > [type='radio']:checked + label,
.theme_dark > [type='radio']:not(:checked) + label {
  color: #fff;
}

[type='radio']:checked + label:before,
[type='radio']:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  border: 1px solid var(--color-steel);
  border-radius: 100%;
  background: var(--color-sterile);
}

[type='radio']:not(:checked):hover + label:before {
  border: 2px solid var(--color-steel);
}
[type='radio']:disabled:hover + label:before {
  border: 1px solid var(--color-steel);
}

[type='radio']:checked + label:after,
[type='radio']:not(:checked) + label:after {
  content: '';
  width: 14px;
  height: 14px;
  background: var(--color-blood);
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  transition: all 0.2s linear;
}

[type='radio']:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

[type='radio']:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
