:host {
  display: block;
}
.stepper__container {
  position: relative;
}

.stepper__steps {
  z-index: 3;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.stepper__progress {
  width: 100%;
  overflow: hidden;
  z-index: 1;
  position: relative;
  transform: matrix(1, 0, 0, 1, 0, -15);
}
.stepper__progress-placeholder {
  z-index: 1;
  width: 100%;
  height: 2px;
  background-color: #f2f2f2;
}
.stepper__progress-line {
  z-index: 2;
  width: auto;
  height: 2px;
  transform: matrix(1, 0, 0, 1, 0, 2);
  background-color: #e60028;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
