.autocomplete:not(:empty) {
  border-top: 20px solid #fff;
  border-bottom: 20px solid #fff;
}

.autocomplete {
  background-color: #fff;
  display: block;
  /* max-height: 122px; */
  overflow-y: scroll;
  position: relative;
  width: calc(100% + 40px);
  top: calc(100% + 42px);
  margin: 0 -20px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 10%);
  z-index: 100 !important;
}

.autocomplete:before {
  display: block;
  position: absolute;
  top: -12px;
  left: 0;
  right: 0;
  height: 6px;
  background-color: var(--backgroundColor, #fff);
  z-index: 1;
  z-index: 100 !important;
}
.autocomplete:after {
  position: absolute;
  top: -6px;
  bottom: -20px;
  left: 0;
  right: 0;
  background-color: var(--backgroundColor, #fff);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  z-index: -1;
}
.autocomplete::-webkit-scrollbar {
  width: 0 !important;
  background: transparent;
  display: none;
}
