:host {
    display: block;
}
.prefix{
    font-size: 46px;
    line-height: 56px;
    margin-right: 20px;
}
.phone_prefix {
    font-size: 46px;
    line-height: 56px;
    margin-right: 20px;
    @media(max-width: 575.98px) {
        font-size: 26px;
        line-height: 46px;
        margin-right: 12px;
    }
}

.rosa-phone-container {
    display: flex;
    margin-top: 8px;
}

.phone_field {
    position: relative;
}

.phone-field_border {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 356px;
    height: 2px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform .3s ease-out;
    font-size: 46px;
    line-height: 46px;
    @media(max-width: 575.98px) {
        width: 203px;
    }
}