:host {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    box-sizing: border-box;
    background-color: #FFF;
  }

  .host-option {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    box-sizing: border-box;
    background-color: #FFF;
  }

  .select-noresults,
  .select-option {
    font-size: 18px;
    color: var(--textColor, #282423);
    padding: 10px 20px;
    user-select: none;
  }
  .select-noresults:hover,
  .select-option:hover {
    background: var(--hoverColor, #f2f2f2);
    color: var(--textColor, #282423);
  }

  .select-option {
    display: flex;
    align-items: center;
    min-height: 45px;
  }

  .select-option.is-selected {
    background: none;
    color: var(--textColor, #282423);
  }

  .select-option.is-focused {
    background: var(--hoverColor, #FFF);
    color: var(--textColor, #282423);
  }

  .is-focused {
    background: var(--hoverColor, #f2f2f2);
  }
