@import 'variables';
@import 'mixins';
.rosa-checkbox__icon {
    position: absolute;
    left: 0;
}

.rosa-checkbox-wrapper {
    display: flex;
}
.rosa-checkbox_group{
    label.checkbox-form-group__label{
        margin-bottom: 20px;
    }
}
.rosa-checkbox_group.theme_dark{
    label.checkbox-form-group__label{
        color:#FFF;
    }
}
.rosa-checkbox_group{
    rosa-checkbox-container{
        display: block;
        margin-bottom: 20px;
    }
}


