@import 'variables';
@import 'mixins';
.rosa-label {
    font-size: 9px;
    line-height: 16px;
    letter-spacing: .1em;
    font-weight: 500;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.rosa-input {
    position: relative;
    display: block;
    text-align: left;
    border: none;
    outline: none;
    width: 100%;
    font-family: "Muller";
    background-color: transparent;
    border-bottom: 2px solid $color-text;
    &_default{
        font-size: 18px;
        line-height: 24px;
        padding: 12px 0 13px;
    }
    &_large{
        font-size: 46px;
    line-height: 46px;
    padding: 16px 0 8px;
    }
    @include mobile {
        -webkit-appearance: none;
        box-shadow: none !important;
        border-radius: 0;
    }
}

.rosa-input:disabled{
    border-bottom: 2px solid $color-gray-01;
    cursor: not-allowed;
}
.rosa-input:read-only{
    border-bottom: 2px solid $color-text;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}