@import 'variables';
@import 'mixins';

label {
    color: #282423;
    font-size: 9px;
    line-height: 16px;
    letter-spacing: .1em;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
}