@import 'variables';
@import 'mixins';
.rosa-phone {
    font-size: 46px;
    line-height: 56px;
    letter-spacing: .06em;
    font-feature-settings: 'tnum';
    font-variant-numeric: tabular-nums;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    margin-bottom: 8px;
    caret-color: var(--color-blood);
    &:disabled{
        cursor: not-allowed;
    }
    &:read-only{
        cursor: not-allowed;
    }
    @include mobile {
        font-size: 26px;
        line-height: 46px;
        width: 208px;
        padding: 0;
        border-radius: 0;
        margin-bottom: 0;
        margin-top: 0;
    }
}
