.rosa-radio:checked,
.rosa-radio:not(:checked) {
    position: absolute;
    left: -9999px;
}

.rosa-radio:checked+label,
.rosa-radio:not(:checked)+label {
    position: relative;
    padding-left: 39px;
    cursor: pointer;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: .02em;
    display: inline-block;
    color: var(--color-night);
    text-transform: none;
}

.rosa-radio:checked+label:before,
.rosa-radio:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    border: 1px solid var(--color-steel);
    border-radius: 100%;
    background: var(--color-sterile);
}

.rosa-radio:not(:checked):hover+label:before {
    border: 2px solid var(--color-steel);
}

.rosa-radio:checked+label:after,
.rosa-radio:not(:checked)+label:after {
    content: '';
    width: 14px;
    height: 14px;
    background: var(--color-blood);
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    transition: all 0.2s linear;
}

.rosa-radio:not(:checked)+label:after {
    opacity: 0;
    transform: scale(0);
}

.rosa-radio:checked+label:after {
    opacity: 1;
    transform: scale(1);
}

.radio-group_column {
    rosa-radio-container {
        margin-bottom: 30px;
    }
}

.radio-group_row {
    display: flex;
    rosa-radio-container {
        margin-right: 30px;
    }
}

.radio-form-group__label {
    margin-bottom: 20px;
}
.radio-group_column rosa-radio-container {
    margin-bottom: 20px;
    display: block;
}
.theme_dark{
    label.radio-form-group__label{
        color:#FFF;
    }
}