:host {
  width: 24px;
  height: 24px;
  display: block;
}
.datepicker__control {
  width: 24px;
  height: 24px;
  background-color: #fff;
  box-shadow: none;
  outline: none;
  border: none;
  padding: 0;
}
.rosa-icon__container {
  width: 24px;
  height: 24px;
  display: block;
}
