/* You can add global styles to this file, and also import other style files */
@import './../../styles/sass/mixins.scss';
@import './../../styles/sass/variables.scss';
@import './../../styles/sass/main.scss';
@import './../../styles/sass/typography.scss';

@import './../../styles/sass/components/_input.component.scss';
@import './../../styles/sass/components/_label.component.scss';
@import './../../styles/sass/components/_phone.component.scss';
@import './../../styles/sass/components/_checkbox.component.scss';
@import './../../styles/sass/components/_radio.component.scss';

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 10 0%;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    min-height: 100vh;
    background: #fff;
}

body {
    position: relative;
    margin: 0;
    font-family: 'Muller', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    line-height: 1.5;
    color: var(--color-text);
    text-size-adjust: 100%;
    &::selection {
        color: #fff !important;
        text-shadow: none;
        background: #d33a2c;
    }
}

a {
    font-family: 'Muller', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: var(--color-main);
    text-decoration: none;
    transition: color .2s cubic-bezier(.25, .46, .45, .94);
    &:hover {
        color: var(--color-main-a);
    }
}