:host {
  display: block;
}
.tab__container {
  width: 100%;
  overflow-x: scroll;
}
.tab__container::-webkit-scrollbar {
  width: 0 !important;
  background: transparent;
  display: none;
}
.tab__tabs {
  display: flex;
  padding: 18px 0 20px;
  position: relative;
}
rosa-tab {
  margin: 0 30px 0 0;
  box-sizing: border-box;
  width: max-content;
  white-space: nowrap;
}
.tab_underline {
  transform-origin: 50% 0;
  transform: matrix(1, 0, 0, 1, 0, -2);
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
