<div class="tab__container">
    <div class="tab__tabs">
        <ng-content select="rosa-tab"></ng-content>
    </div>
    <div class="tab_underline" #tabUnderline>
        <ng-content select="rosa-underline"></ng-content>
    </div>
</div>