.rosa-datepicker {
  width: 395px;
  height: 420px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 35px;
  position: relative;
}
.rosa-datepicker__monthpicker {
  width: 395px;
  height: 420px;
  background-color: #f2f2f2;
  padding: 80px 80px 50px;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-100%);
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  will-change: transform;
}
.rosa-datepicker__monthpicker_open {
  transform: none;
}

.rosa-datepicker__monthes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 300px;
  align-content: space-between;
}
.rosa-datepicker__month-control {
  padding: 0;
  border: none;
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  display: block;
  line-height: 24px;
  padding: 10px 0;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #282423;
  text-align: left;
}
.rosa-datepicker__month-control:focus,
.rosa-datepicker__month-control:active {
  outline: none;
}
.rosa-datepicker__month-control_active {
  color: #e60028;
}
.rosa-datepicker__month-control:hover {
  color: #e60028;
}
.rosa-datepicker__month-control:disabled {
  color: #e60028;
  cursor: not-allowed;
}

.rosa-datepicker__picker {
  padding: 0;
  border: none;
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 1.1px;
  font-weight: 500;
  color: #e60028;
  text-transform: uppercase;
}
.rosa-datepicker__close {
  padding: 0;
  border: none;
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  width: 48px;
  height: 48px;
}
.rosa-datepicker__close svg {
  display: block;
  margin: auto;
}
.rosa-datepicker__monthpicker__close-contol {
  position: absolute;
  top: 20px;
  right: 20px;
}
.rosa-datepicker__header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.rosa-datepicker__month {
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 1.1px;
  font-weight: 500;
  color: #e60028;
  text-transform: uppercase;
  user-select: none;
}
@media (max-width: 575.98px) {
  .rosa-datepicker__month {
    padding-left: 3%;
  }
}

.rosa-datepicker__controls {
  display: flex;
}

.rosa-datepicker__row {
  display: grid;
  grid-template-columns: repeat(7, 35px);
  grid-gap: 10px;
  @media (max-width: 575.98px) {
    grid-gap: 1%;
    grid-template-columns: repeat(7, 36px);
  }
}

.rosa-datepicker__days {
  padding: 10px 10px;
}
@media (max-width: 575.98px) {
  .rosa-datepicker__days {
    padding: 10px 0;
    grid-row-gap: 5%;
  }
}

.rosa-datepicker__weekdays {
  padding-left: 0px;
  padding-right: 0px;
  list-style: none;
  padding-bottom: 8px;
  border-bottom: 1px solid #e6e6e6;
  padding: 0 10px 8px 10px;
}

.rosa-datepicker__weekday {
  display: inline-block !important;
  text-align: center !important;
  font-size: 9px;
  letter-spacing: 0.9px;
  line-height: 1.7778;
  font-weight: 600;
  color: #807d7d;
  text-transform: uppercase;
}
