<div class="rosa-datepicker">
    <div class="rosa-datepicker__monthpicker" #monthPicker>
        <div class="rosa-datepicker__monthpicker__close-contol">
            <button class="rosa-datepicker__close" on-click="toggleMonthMode()">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.45463 0L16 14.5455L14.5455 16L9.57571e-05 1.45455L1.45463 0Z" fill="#282423" />
                    <path d="M0 14.5455L14.5454 2.45218e-07L15.9999 1.45455L1.45454 16L0 14.5455Z" fill="#282423" />
                </svg>
            </button>
        </div>
        <div class="rosa-datepicker__monthes">
            <button class="rosa-datepicker__month-control" *ngFor="let label of MONTH_LABELS; index as i;"
                on-click="setMonth(i)" [disabled]="isCurrentMonth(i)">{{label}}</button>
        </div>
    </div>
    <div class="rosa-datepicker__header">
        <div class="rosa-datepicker__month">
            <button class="rosa-datepicker__picker" on-click="toggleMonthMode()">{{monthLabel}} </button>
            {{year}}</div>
        <div class="rosa-datepicker__controls">
            <rosa-datepicker-prev on-click="changeMonth('prev')"></rosa-datepicker-prev>
            <rosa-datepicker-next on-click="changeMonth('next')"></rosa-datepicker-next>
        </div>
    </div>
    <div class="rosa-datepicker__row rosa-datepicker__weekdays">
        <div class="rosa-datepicker__weekday" *ngFor="let weekday of WEEK_DAYS">
            {{weekday}}
        </div>
    </div>
    <div class="rosa-datepicker__row rosa-datepicker__days">
        <rosa-day (selected)="selectDay($event)" *ngFor="let day of days" [day]="day"></rosa-day>
    </div>

</div>


<!--
<div class="days">
    <div class="datepicker__header">
        <div class="datepicker__month">{{monthLabel}}</div>
        <div class="datepicker__month-controls">
            <rosa-datepicker-prev on-click="changeMonth('next')"></rosa-datepicker-prev>

            <rosa-datepicker-next on-click="changeMonth('prev')"></rosa-datepicker-next>
        </div>
    </div>
    <ul class="datepicker__weekdays-list weekdays__list">
        <li class="datepicker__weekday day">пн</li>
        <li class="datepicker__weekday day">вт</li>
        <li class="datepicker__weekday day">ср</li>
        <li class="datepicker__weekday day">чт</li>
        <li class="datepicker__weekday day">пт</li>
        <li class="datepicker__weekday day">сб</li>
        <li class="datepicker__weekday day">вс</li>
    </ul>
    <div class="days__list">
        <rosa-day (selected)="selectDay($event)" *ngFor="let day of days" [day]="day"></rosa-day>
    </div>
</div>
-->