<div class="rosa-control-container">
    <div class="rosa-checkbox-wrapper" #themeContainer>
        <ng-content select="[rosaCheckbox]"></ng-content>
        <ng-content select="[rosaCheckboxLabel]"></ng-content>
    </div>
    <div class="rosa-checkbox__description">
        <ng-content select="span"></ng-content>
    </div>
    <div class="rosa-checkbox-error">
        <ng-content select="rosa-control-helper" *ngIf="valid"></ng-content>
        <ng-content select="rosa-control-error" *ngIf="!valid"></ng-content>
    </div>
</div>
<ng-content select="label"></ng-content>