.rosa-form-control {
  background: #fff;
}

:host {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
}

.rosa-control-container {
  display: inline-block;
}

.rosa-checkbox__icon {
  position: absolute;
  left: 0;
}

label {
  color: #282423;
  font-size: 9px;
  line-height: 16px;
  letter-spacing: 0.1em;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
  padding-right: 4px;
}

.radio-wrapper {
  margin-bottom: 32px;
}

[type='checkbox']:checked,
[type='checkbox']:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type='checkbox']:checked + label,
[type='checkbox']:not(:checked) + label {
  position: relative;
  padding-left: 39px;
  cursor: pointer;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.02em;
  display: inline-block;
  color: var(--color-night);
  text-transform: none;
  user-select: none;
}
[type='checkbox']:disabled + label {
  color: var(--color-steel);
  cursor: not-allowed;
}
.theme_dark > [type='checkbox']:checked + label,
.theme_dark > [type='checkbox']:not(:checked) + label {
  color: #fff;
}
[type='checkbox']:not(:checked) + label > .rosa-checkbox__icon {
  opacity: 0;
  transform: scale(0);
}

[type='checkbox']:checked + label > .rosa-checkbox__icon {
  opacity: 1;
  transform: scale(1);
}
[type='checkbox']:checked + label::before,
[type='checkbox']:not(:checked) + label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
}

.theme_default [type='checkbox']:checked + label::before,
.theme_default [type='checkbox']:not(:checked) + label::before {
  border: 1px solid var(--color-steel);
  background: var(--color-sterile);
}

.theme_default [type='checkbox']:not(:checked):hover + label::before {
  border: 2px solid var(--color-steel);
}
.theme_default [type='checkbox']:disabled:not(:checked):hover + label::before {
  border: 1px solid var(--color-steel);
}
.theme_default [type='checkbox']:checked + label::before {
  background-color: var(--color-asbestos);
  border-color: var(--color-asbestos);
}

.theme_gray > [type='checkbox']:checked + label:before,
.theme_gray > [type='checkbox']:not(:checked) + label:before {
  box-shadow: rgba(128, 125, 125, 0.5) 0px 0px 0px 1px inset;
  background: var(--color-asbestos);
}

.theme_gray [type='checkbox']:checked + label:before {
  box-shadow: white 0px 0px 0px 1px;
}
.theme_dark > [type='checkbox']:checked + label:before,
.theme_dark > [type='checkbox']:not(:checked) + label:before {
  box-shadow: var(--color-steel) 0px 0px 0px 1px inset;
}
.theme_dark [type='checkbox']:checked + label::before {
  background-color: var(--color-asbestos);
  border-color: var(--color-steel);
}
.theme_dark [type='checkbox']:checked + label:before {
  box-shadow: var(--color-steel) 0px 0px 0px 1px;
}

rosa-icon-help {
  margin-left: 10px;
}

.rosa-checkbox-error {
  margin-top: 8px;
  display: block;
}

.rosa-checkbox__description {
  padding-left: 39px;
}
