.rosa_form-group{
    width: 600px;
    padding: 60px;
}
.rosa_form-group__gray{
    background-color:#f2f2f2;
}
.rosa_form-group__dark{
    background-color:#282423;
}



input, textarea, button {
    font-family: 'Muller', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-appearance: none;
    border-radius: 0;
}

label {
    font-family: 'Muller', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
