<input type="text" rosaInput>

<rosa-phone-container>
    <label for="phone">Мобильный телефон:</label>
    <input type="text" id="phone" tabindex="0" rosaPhone />
</rosa-phone-container>

<section class="rosa_form-group">
    <label class="checkbox-form-group__label">Являетесь ли вы гражданином другой страны</label>
    <rosa-checkbox-container>
            <input type="checkbox" rosaCheckbox="rosaCheckbox"  id="adsFlag" name="adsFlag" />
            <label for="adsFlag" value="Value" rosaCheckboxLabel="rosaCheckboxLabel"></label>
        </rosa-checkbox-container>
</section>